.container-pesan{
  width: 100%;
  height: 50px;
  overflow: hidden;
  background: #114D89;

}
.container-2{
  width: 100%;
  height: 700px;
  margin-top: 40px;
}
.pemesanan{
  width: 90%;
  height: 700px;
  background: #ECECEC;
  margin: 0 auto;
  border-radius: 20px 20px 20px 20px;
  padding: 50px;
}
.pemesanan-seats{

  width: 100%;
  height: 500px;

}
button{
  width: 60px;
  height: 60px;
  text-align: center;

}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    width: 100px;
}
.btn-default {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    width: 100px;
}
.yesa{
  margin-top: 20px;
}
