.navbar {
    background: #674172;
    border: none;
    transition: 0.5s;
    height: 50px;
}

.berubah-menu {
    background: #674172;
    transition: 0.5s;
}

.navbar-header {
    border: none;
}

.navbar li a {
    color: white !important;
    margin-left: 25px;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.dropdown li a:hover {
    color: black !important;
}

.carousel {
    position: relative;
    width: 100%;
    z-index: 8;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    margin-top: 2px;
    margin-top: 2px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #1d2775;
}

.navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}

.dropdown-menu>li>a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #1d2775;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #fff;
}

.konten {
    opacity: 0;
    padding: 20px;
}

.konten1 h4 {
    text-align: center;
}

.konten1 img {
    width: 100%;
    transition: 0.5s;
}
.konten1 img:hover{
  transform: scale(1.1,1.1);
  box-shadow: 1px 1px 10px black;
  transition: 0.5s;
}
.konten2 img:hover{
  transform: scale(1.1,1.1);
  box-shadow: 1px 1px 10px black;
  transition: 0.5s;
}
.konten3 img:hover{
  transform: scale(1.1,1.1);
  box-shadow: 1px 1px 10px black;
  transition: 0.5s;
}
.konten4 img:hover{
  transform: scale(1.1,1.1);
  box-shadow: 1px 1px 10px black;
  transition: 0.5s;
}

.konten2 h4 {
    text-align: center;
}

.konten2 img {
    width: 100%;
    transition: 0.5s;
}

.konten3 h4 {
    text-align: center;
}

.konten3 img {
    width: 100%;
    transition: 0.5s;
}

.konten4 h4 {
    text-align: center;
}

.konten4 img {
    width: 100%;
    transition: 0.5s;
}

.hero {
    background-position: 30% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/home.jpg);
    transition: 0s linear;
    transition-property: background-position;
}

.nerawang {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    z-index: 1;
}

.hero-caption {
    z-index: 1;
    padding-top: 10px;
    top: 220px;
    margin-bottom: 20px;
    position: relative;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    text-shadow: 0px 8px 7px black;
    transition: 2s all;
}

.anu {
    opacity: 1;
    transition: 0.5s;
}

.hero p {
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
}

.sidebar1 {
    opacity: 0;
}

.kategori {
    opacity: 0;
}

.panel-default>.panel-heading {
    color: #F9690E;
    background-color: transparent;
    border: none;
    text-align: center;
}

.panel-default {
    border: none;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.k1 {
    background-color: #8E44AD;
    height: 200px;
    opacity: 0;
    z-index: 6;
    position: relative;
}

.k1 h1 {
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
    color: white;
}

.k1 hr {
    width: 80px;
    border: solid 2px #fff;
    border-radius: 20px 20px 20px 20px;
}
.k1-1{
  background-color: #F62459;
  height: 200px;
  position: absolute;
  width: 100%;
  z-index: 4;
  opacity: 0;
}
.k1-1 h1{
  opacity: 0;
}
.k2 {
    height: 40px;
}

.k2 h1 {
    opacity: 0;
    position: absolute;
    background-color: white;
    padding: 20px;
    padding-top: 0px;
    color: #8E44AD;
    text-align: center;
    margin-left: 40%;
    font-weight: 500;
}

.filmtop{
  border: solid 1.5px #8E44AD;
  border-radius: 30px 30px 30px 30px ;
  padding-top: 50px;
}

.login-mucul{
  visibility: hidden;
  max-width: 50px;
}
.login-hide{
  visibility:visible;
}

.login{
  margin: 0 auto;
  width: 70%;
  background: black;
}
.cartmuncul{
  visibility: visible;
  margin-right: -40px;
  z-index: 99;
}
.carthilang{
  visibility:hidden;
}
#login {
    padding-top: 50px
}
#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#login h1 {
    color: #8E44AD;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #000;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
	text-align: center;
	display: block;
}

.form-control {
    color: #8E44AD;
}
.btn-custom {
    color: #fff;
	background-color: #8E44AD;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}
.loginbg{
    width: 30%;
}
.siplogin{
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px 20px 20px 20px ;
}
.loginanu{
  margin-top: 100px;
}
